<div id="ecc">
	<h3>I Encontro de Ciências Contábeis da FAESF (I ECC)</h3>
	<h3>“Contabilidade, Sustentabilidade e Investimento”</h3>
	<h4>Programação</h4>

	<table class="table table-bordered table-striped">	
		<tr>
			<td>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				CONFERÊNCIA 19h00
			</td>
			<td>
				Profissional do Futuro, onde investir na carreira

				Prof. M.Sc. Antonio Gomes das Neves
				Ex – Presidente do CRC/PI e Autor dos livros: Curso de Perícia Contábil e o Cálculo em Prática Trabalhista
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 15h00 – 17h00
			</td>
			<td>
				Calculadora HP12CC

				Prof. Esp. Valber Santana
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 18h00
			</td>
			<td>
				Aprenda a, investir e ganhe muito dinheiro
			
				Prof. M.Sc. Ricardo Gomes Queiroz
			</td>
		</tr>
	</table>
	
	<h4>Quarta- Feira: 21/11/2012</h4>
	<p>
		<strong>Mesa Redonda: Contabilidade do Terceiro Setor: Responsabilidade e Inclusão Social</strong>
	</p>
	<p>
		<strong>Palestrantes:</strong>
		<p>Prof. Esp. Ivaldo Almeida;</p> 
		<p>Prof. Esp. Leonan Rodrigues;</p>
		<p>Profa. Esp. Lívia Amorim;</p> 
		<p>Profa. Esp. Nilman Léda.</p>
	</p>
	<h4>Quarta- Feira: 21/11/2012</h4>
	<p>
		<strong>Minicurso: Prática Trabalhista</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Prof. Esp. Ivaldo Almeida
		<p>Currículo resumido: Especialista em Auditoria, Controladoria e Finanças. Empresário Contábil. Sócio da empresa ACEL - Assessoria Contábil.</p>
	</p>
	<p>
		<strong>Palestra: Profissional do Futuro, onde investir na carreira.</strong>
	</p>
	<p>
		<strong>Palestrante:</strong> Prof. Msc. Antônio Gomes das Neves
		<p>Currículo resumido: Ex- Presidente do CRC/PI e Autor dos livros: Curso de Perícia Contábil e O Cálculo em Prática Trabalhista.</p>
	</p>
	<h4>Sexta- Feira: 23/11/2012</h4>
	<p>
		<strong>Minicurso: Calculadora HP12CC</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Prof. Valber Santana
		<p>Currículo resumido: Licenciado em Matemática. MBA em Gestão e Ensino de  TI, Comunicação e Inovação.</p>
	</p>
	<p>
		<strong>Palestra: Aprenda a Investir e Ganhe Muito Dinheiro</strong>
	</p>
	<p>
		<strong>Palestrante:</strong> Prof. Msc. Ricardo Gomes Queiroz
		<p>Currículo resumido: Mestre em Ciências da Computação, com larga experiência na área de Gerencia de TI e em Educação; Estudioso de finanças e investidor. </p>
	</p>
</div>