<div id="ecc">
	<h3>I ECC (I ENCONTRO DE CIÊNCIAS CONTÁBEIS DA FAESF)</h3>
	<h4>Programação</h4>

	<table class="table table-bordered table-striped">	
		<tr>
			<td>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				CONFERÊNCIA 19h00
			</td>
			<td>
				Profissional do Futuro, onde investir na carreira

				Prof. M.Sc. Antonio Gomes das Neves
				Ex – Presidente do CRC/PI e Autor dos livros: Curso de Perícia Contábil e o Cálculo em Prática Trabalhista
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 15h00 – 17h00
			</td>
			<td>
				Calculadora HP12CC

				Prof. Esp. Valber Santana
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 18h00
			</td>
			<td>
				Aprenda a, investir e ganhe muito dinheiro
			
				Prof. M.Sc. Ricardo Gomes Queiroz
			</td>
		</tr>
	</table>
	
	
</div>