<div id="econ">
	
	<%= image_tag("logo-ecom.png")%>
	
	<h3>II Encontro de Estudante de Computação do Médio Mearim – ECOM 2012</h3>
	<h4>O Evento</h4>

	<p>
		O II Encontro Estudantes de Computação da Região do Médio Mearim – ECOM promovido pela Faculdade São Francisco – FAESF, vem em sua segunda edição com a ambição de se consolida como o mais importante evento na área Acadêmica de Computação da nossa região. O ECOM foi idealizado e está sendo organizado por professores e alunos do Curso de Ciência da Computação da Faculdade São Francisco. 
	</p>
	<p>
		<h4>Objetivos</h4>
	</p>
	
	<h4>Geral</h4>
	
	<p>
		O II ECOM tem como objetivo apresentar oportunidades e conscientizar a comunidade de educadores, pesquisadores, alunos e interessados sobre as possibilidades que estão à nossa frente para transformar nosso atual cenário tecnológico. A partir da sua primeira edição, o II ECOM pretende contribuir para a consolidação da Computação como área estratégica para o desenvolvimento tecnológico e econômico da nossa região e proporcionar uma maior integração entre empresas que contribuem para economia da região, comunidade acadêmica, profissionais que oferecem e utilizam serviços de TI.
	</p>
	
	<h4>Específicos</h4>
	
	<p>
		<ol>
			<li>Despertar um maior interesse pela área de computação e pela pesquisa científica na região;</li>
			<li>Promover uma maior a integração entre empresas, profissionais, estudantes e pesquisadores na área de computação;</li>
			<li>Oportunizar aos alunos do curso de ciência da computação, bem como para os interessados em ingressar na carreira de computação, uma perspectiva mais ampla sobre as oportunidades do novo mercado de trabalho;</li>
			<li>Apresentar soluções e serviços de TI às empresas da região em seus mais variados segmentos;</li>
			<li>Divulgar e consolidar a presença da Faculdade São Francisco como centro de estudos e desenvolvimento de soluções na área de computação na região do médio Mearim.</li>
		</ol>
	</p>
	
	<h4>Programação</h4>
	
	<table class="table table-hover">
		<tr>
			<th width="25%"></th>
			<th width="25%">21 de Novembro</th>
			<th width="25%">22 de Novembro</strong></th>
			<th width="25%">23 de Novembro</strong></th>
		</tr>
		<tr>
			<td><strong>8h às 12h</strong></td>
			<td><strong>Minicurso 1:</strong> Introdução a Programação com Python</td>
			<td></td>
			<td>Ubuntu Install Day</td>
		</tr>
		<tr>
			<td><strong>13h às 15h</strong></td>
			<td></td>
			<td></td>
			<td><strong>Minicurso 3:</strong> Segurança com Python</td>
		</tr>
		<tr>
			<td><strong>13h às 18h</strong></td>
			<td></td>
			<td><strong>Minicurso 3:</strong> Segurança com Python</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>14h às 18h</strong></td>
			<td><strong>Minicurso 2:</strong> Desenvolvimento de Jogos Digitais</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><strong>15h às 19h</strong></td>
			<td></td>
			<td></td>
			<td><strong>Minicurso 4:</strong> Administração de Proxy/Cache com Squid</td>
		</tr>
		<tr>
			<td><strong>19h às 20h</strong></td>
			<td></td>
			<td><strong>Palestra 2:</strong> Pentest e Estudos de Casos</td>
			<td></td>
		</tr>
		<tr>
			<td><strong>20h às 21h</strong></td>
			<td><strong>Palestra 1:</strong> Desafios no Desenvolvimento de Jogos Digitais.</td>
			<td><strong>Palestra 3:</strong> Inclusão Digital com o Ubuntu</td>
			<td></td>
		</tr>
	</table>
	
	<h4>Minicursos</h4>
	
	<p>
		<strong>Minicurso 1: Introdução a Programação com Python</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Gesiel Rios Lopes, M.Sc.
		<p>Currículo resumido: Mestre em Informática Aplicada pela UNIFOR.</p>
	</p>
	<p>
		<strong>Minicurso 2: Desenvolvimento de Jogos Digitais</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Diogo Vinícius
		<p>Currículo resumido: Gerente de Tecnologia - Infoway Tecnologia e Gestão em Saúde Ltda - ISTQB Certified Tester - Sócio Fundador do Estúdio de Jogos Sertão Games</p>
	</p>
	<p>
		<strong>Minicurso 3: Segurança com Python</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Victor Pasknel de Alencar Ribeiro, M.Sc.
		<p>Currículo resumido: Possui Mestrado em Ciência da Computação pela Universidade de Fortaleza. Possui experiência na
			área de Ciência da Computação, com ênfase em Redes de Computadores, atuando principalmente nos
			seguintes temas: Análise de Tráfego e Segurança em Redes de Computadores.
			Consultor de segurança na Morphus Segurança da Informação. Responsável por projetos de análise de
			vulnerabilidades e teste de invasão (Pentest). Participou de projetos de Pentest com clientes dos setores
			público e privado.
			Professor universitário em cursos de pós-graduação com ênfase em segurança da informação.
		</p>
	</p>
	<p>
		<strong>Minicurso 4: Administração de Proxy/Cache com Squid</strong>
	</p>
	<p>
		<strong>Ministrante:</strong> Gedson Rios Lopes, Esp.
		<p>Currículo resumido: Graduado em Computação pela UESPI e Especialista em Redes de Computadores pela UESPI.
			Professor do Departamento de Informática da Universidade Federal do Maranhão  e do Curso de Engenharia da Computação da Universidade Estadual do Maranhão.
			Coordenador Regional do Conselho Ubuntu Brasil.
		</p>
	</p>
	
	<h4>Palestras</h4>
	
	<p>
		<strong>Palestra 1: Desafios no Desenvolvimento de Jogos Digitais</strong>
	</p>
	<p>
		<strong>Palestrante:</strong> Diogo Vinícius
	</p>
	<p>
		<strong>Palestra 2: Pentest e Estudos de Casos</strong>
	</p>
	<p>
		<strong>Palestrante:</strong> Victor Pasknel de Alencar Ribeiro, M.Sc.
	</p>
	<p>
		<strong>Palestra 3: Inclusão Digital com o Ubuntu</strong>
	</p>
	<p>
		<strong>Palestrante:</strong> Gedson Rios Lopes, Esp.
	</p>
	
	<h4>Festival</h4>
	
	<p>
		<strong>Ubuntu Install Day</strong>
	</p>
	<p>
		<strong>Organização:</strong> Regional Maranhão do Conselho Ubuntu Brasil.
	</p>
</div>










