<div id="institutional">

	<h3>Corpo Institucional</h3>
	
	<p><strong>DIRETORA PRESIDENTE:</strong> Aldenora Velôso Medeiros</p>
	<p><strong>VICE-DIRETORA:</strong> Rosalina da Costa Veloso</p>
	<p><strong>DIRETORA ACADÊMICA:</strong> Vângela Maria Veloso de Sousa</p>
	<p><strong>DIRETORA ADMINISTRATIVA:</strong> Rosângela Medeiros de Lima</p>
	<p><strong>DIRETORA FINANCEIRA:</strong> Rosângela Medeiros de Lima</p>
	<p><strong>SECRETÁRIA ACADÊMICA:</strong> Edilene Machado Alves Nascimento</p>
	<p><strong>BIBLIOTECÁRIA:</strong> Ruanna Nadja Amaral Ibiapino</p>
	<p><strong>COORDENADORA DE RECURSOS HUMANOS:</strong> Josineide Maria de Almeida Lima</p>

	<p><strong>COORDENADORES</strong></p>
	<ul>
		<li><strong>Curso de Administração:</strong> Valmir Silva Júnior</li>
		<li><strong>Curso de Ciências Contébeis:</strong> Lívia Raquel Carneiro Amorim</li>
		<li><strong>Curso de Ciência da Computação:</strong> M.Sc. Gesiel Rios Lopes</li>
		<li><strong>Curso de Enfermagem:</strong> Ediuene Sousa Silva</li>
		<li><strong>Curso de Educação Física:</strong> M.Sc. Patrícia Fernanda Marques</li>
		<li><strong>Curso de Pedagogia:</strong> Maria Dalva Rodrigues Queiroz</li>
		<li><strong>Curso de Letras:</strong> Débora Regina Oliveira Cruz</li>
		<li><strong>Curso de Geografia:</strong> M.Sc. Livênia Norberta</li>
	</ul>
</div>