<div id="jcc">
	<h3>II JORNADA CIENTÍFICO CULTURAL</h3>
	<h3>DE EDUCAÇÃO FÍSICA</h3>
	
	<h4>Programação</h4>

	<table class="table table-bordered table-striped">
		<tr>
			<td rowspan=2>
				1º DIA – 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td>
				MINICURSO 08h00 – 12h00
			</td>
			<td>
				Uma proposta recreativa para o idoso

				Prof. Esp. Guiomar de Jesus Rodrigues
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 21h00
			</td>
			<td>
				Mercado de trabalho em Educação Física

				Prof. Msc. Patrícia Fernanda Marques de Sousa
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Prescrição de exercícios e síndrome metabólicas: hipertensão, diabetes e obesidade

				Prof. Dr. Leonardo Torres Leal
			</td>
		</tr>
		<tr>
			<td>
				MESA REDONDA 20h00 – 22h00
			</td>
			<td>
				Obesidade infantil: proposta de intervenção

				Prof. Msc. Jane Carvalho
				Prof. Msc. Patrícia Fernandes Marques de Sousa
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 08h00 – 12h00
			</td>
			<td>
				Atualidades em musculação e hipertensão muscular

				Prof. Msc. Marcela Nolêto
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Ginástica laboral: saúde e qualidade de vida no trabalho 

				Prof. Esp. Aristófanes Lino P. de Sousa
			</td>
		</tr>
	</table>
</div>