<div id="place">
	<h3>Faculdade de Educação São Francisco - FAESF</h3>
</div>
<div class="carousel slide" id="myCarousel">
	<div class="carousel-inner">
		<div class="active item">
			<%= image_tag("carousel1.png") %>
			<div class="carousel-caption">
				<h4>Entrada da Biblioteca Dr. José Caldeira</h4>
				<p>Ocupa um espaço amplo e climatizado, com área reservada à leitura individual e em grupo, ao cervo, à administração e tratamento técnico do material bibliográfico.</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("carousel2.png") %>
			<div class="carousel-caption">
				<h4>Fachada da Faculdade de Educação São Francisco</h4>
				<p>A FAESF está alicerçada em uma história de formação profissional e contribuição na educação na região do Médio Mearim e é oriunda do Colégio São Francisco.</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("carousel3.png") %>
			<div class="carousel-caption">
				<h4>Entrada da Faculdade de Educação São Francisco</h4>
				<p>A FAESF está alicerçada em uma história de formação profissional e contribuição na educação na região do Médio Mearim e é oriunda do Colégio São Francisco.</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("carousel4.png") %>
			<div class="carousel-caption">
				<h4>Laboratório de Informática</h4>
				<p>A FAESF conta com laboratórios de informática dotados com estações multimídia de avançada capacidade de processamento. </p>
			</div>
		</div>
	</div>
	<a data-slide="prev" href="#myCarousel" class="left carousel-control">‹</a>
	<a data-slide="next" href="#myCarousel" class="right carousel-control">›</a>
</div>

<p>A Faculdade de Educação São Francisco, autorizada pela Portaria nº 1353/2000, de 29/08/2000-MEC, publicada no DOU de 30/08/2000, é uma instituição de ensino privado com fins filantrópicos mantida pelo Colégio São Francisco, pessoa jurídica de direito privado sem fins lucrativos, com sede e foro na cidade de Pedreiras, Estado do Maranhão, com Estatuto inscrito no Registro Civil das Pessoas Jurídicas do Cartório de Pedreiras, sob o número de ordem 4.043, do livro 3f, fls.182.</p>
<p>A FAESF está alicerçada em uma história de formação profissional e contribuição na educação na região do Médio Mearim e é oriunda do Colégio São Francisco, entidade mantenedora que tem contribuído, significativamente, para a formação profissional na sua região, notadamente em contabilidade e magistério, no decurso de 30 anos. Contudo, foi a partir do ano 2000, com a implantação do curso de Pedagogia, que veio ganhando espaço no seio da comunidade como uma instituição de ensino superior que oferece&nbsp;educação de qualidade.</p>
<p>Progressivamente, a FAESF vem implantando cursos de graduação e pós-graduação nas mais variadas áreas de conhecimento. Atualmente, conta com cursos de graduação em Administração, Enfermagem, Geografia, Letras, Pedagogia, Nutrição, Ciências Contábeis, Ciências da Computação e Educação Física,&nbsp;e pós-graduação em Gestão Educacional, Docência do Ensino Superior e Programa Saúde da Família, formando recursos humanos para Pedreiras - MA e demais municípios da região.&nbsp;</p>
<p>Em busca de sua firmação como instituição que oferece ensino de qualidade, a FAESF tem plena consciência de que, na atual conjuntura das políticas de desenvolvimento do ensino superior, ações concretas e constantes de melhoria no processo de ensino-aprendizagem são exigidas em todas as dimensões. Por isso, sem perder de vista as suas metas, tem se esforçado para cumprir seu papel perante a sociedade acadêmica e a sociedade de modo geral, procurando reafirmar sua missão, seus princípios democráticos, seu comprometimento com o desenvolvimento e a transformação social, econômica, política e cultural.</p>
<p>A Faculdade de Educação São Francisco &ndash; FAESF- está localizada no município de Pedreiras, região central do Estado do Maranhão, denominada microrregião do Médio Mearim, a 270 km da capital São Luís. Segundo o IBGE, a cidade de Pedreiras possui 37.984 habitantes, uma área territorial de 289 km² e renda <em>per capita</em> de 1.530,88 reais (IBGE-2007). A FAESF está localizada em uma região de negócios e serviços, próxima a vários bancos, empresas, hotéis e órgãos públicos.<strong> </strong></p></td>
