<div id="witc">
	<h3>Tabela de Preços</h3>

	<table class="table table-bordered table-striped">
		<tr>
			<th>Categoria</th>
			<th>Até 13/11</th>
			<th>A partir de 14/11</th>
		</tr>
		<tr>
			<td>
				Alunos e Ex-Alunos da FAESF
			</td>
			<td>
				R$ 70,00
			</td>
			<td>
				R$ 80,00
			</td>
		</tr>
		<tr>
			<td>
				Alunos de outras instituições
			</td>
			<td>
				R$ 80,00
			</td>
			<td>
				R$ 90,00
			</td>
		</tr>
		<tr>
			<td>
				Profissionais
			</td>
			<td>
				R$ 100,00
			</td>
			<td>
				R$ 110,00
			</td>
		</tr>
	</table>
	
</div>