<div id="program">
	<h3>FACULDADE DE EDUCAÇÃO SÃO FRANCISCO</h3>
	<h4>DIRETORIA ACADÊMICA</h4>
	<h4>COORDENADORIA DE PESQUISA, EXTENSÃO E PÓS-GRADUAÇÃO</h4>
	<h4>VIII CONGRESSO FAESF</h4>
	<h4>Desenvolvimento regional: sustentabilidade e inclusão social</h4>
	<h4>21 a 23 de Novembro de 2012</h4>
	<h3>Programação Geral</h3>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3 align="center">
				SOLENIDADE DE ABERTURA/PALESTRAS/EXIBIÇÃO DE DOCUMENTÁRIO E DISCUSSÕES
			</th>
		</tr>
		<tr>
			<td witdh="15%" rowspan=3>
				1º DIA 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td witdh="15%">
				APRESENTAÇÃO DE ABERTURA DO CONGRESSO 18h00
			</td>
			<td>
				Espetáculo: Carcará e João do Vale - Corpo Discente de Educação Física
			</td>
		</tr>
		<tr>
			<td>
				SOLENIDADE DE ABERTURA 19h00
			</td>
			<td>
				<p>Diretoria e Coordenadoria (graduação/ pós- graduação, pesquisa e extensão)</p>
				<p>Coordenadoria de Área – Coordenadoria de Curso</p>
				<p>Coordenadoria de Núcleos de Pesquisa</p>
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 20h00
			</td>
			<td>
				<p>Desenvolvimento Regional: Sustentabilidade e inclusão social</p>
				<p>Prof. Dr. José de Ribamar Sá Silva</p>
				<p>Departamento de Economia da UFMA</p>
				<p>Programa de Mestrado e Doutorado de Políticas públicas UFMA</p>
				<p>Programa de Mestrado em Desenvolvimento socioeconômico UFMA</p>
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				2º DIA 22 DE NOVEMBRO DE 2012 (QUINTA-FEIRA)
			</td>
			<td>
				EXIBIÇÃO E DEBATE 20h00
			</td>
			<td>
				Vídeo Carta Escrita no ano de 2070 BRASIL
				Duração: 6 min. 42segundos
				Retrata as consequências social, ambientais e biológicas
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 20h00 – 22h00
			</td>
			<td>
				Atualizações em urgência/ emergência e terapia intensiva

				Prof. Ms. Sara Nilkece
			</td>
		</tr>
		<tr>
			<td rowspan=4>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				PALESTRA 18h00 – 19h00
			</td>
			<td>
				ANJOS DA ENFERMAGEM COREM - MA
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 18h30 – 19h30
			</td>
			<td>
				Comportamento e atitude dos vencedores no mercado de trabalho
				Prof. M.Sc. Tarcízio Murta
			</td>
		</tr>
		<tr>
			<td>
				CONFERÊNCIA DE ENCERRAMENTO 19h00
			</td>
			<td>
				DESAFIOS ATUAIS PARA A EDUCAÇÃO SUPERIOR: Formação, sustentabilidade e inclusão social. 
				Ms. Luís Távora Furtado Ribeiro
				Professor da Faculdade de Educação da UFC - CE
				Presidente Nacional do Fórum de Diretores de Centros e Faculdades Públicas de Educação, FORUMDIR
				
			</td>
		</tr>
		<tr>
			<td>
				APRESENTAÇÃO DE ENCERRAMENTO 21h00
			</td>
			<td>
				Apresentação artística de Educação Física
				Corpo discente do curso de Educação Física
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				MINICURSOS
			</th>
		</tr>
		<tr>
			<td witdh="15%" rowspan=5>
				1ºDIA 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td witdh="15%">
				ÁREA: ENFERMAGEM 08h00 – 12h00
			</td>
			<td>
				Acidentes Ofídicos: diagnósticos e tratamentos Prof. Ms. Francisco Neto
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 08h00 – 12h00
			</td>
			<td>
				Análise de dados quantitativos e qualitativos na Enfermagem Prof. Ms. Fernando Guedes
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS E PEDAGOGIA 14h00 – 18h00
			</td>
			<td>
				Construindo Ambientes de aprendizagem com materiais recicláveis: na leitura e na escrita
				Prof. Emídio Matos Gaspar Filho
				Prof. Jomilson Alves Barbosa
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS E PEDAGOGIA 14h00 – 18h00
			</td>
			<td>
				Construindo ambientes de aprendizagem com materiais recicláveis: na História
				Prof. Iranilde Leal Gomes
				Monitores:
				Andréia da Silva Viana
				Clautene Silva Miranda
				Glaucia Maria de Sousa Xavier
				Maria Kerliane de Lima Santos
			</td>
		</tr>
		<tr>
			<td>
				GERAL 08h00 – 12h00
			</td>
			<td>
				Sustentabilidade
			</td>
		</tr>
		<tr>
			<td rowspan=9>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				ÁREA: ENFERMAGEM 08h00 – 12h00
			</td>
			<td>
				Conduta de enfermagem frente às urgências e emergências – uma questão de sebrevivência
				Prof. Esp. Cleude Valentin
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 08h00 – 12h00
			</td>
			<td>
				Saúde da Mulher: atenção especial às distócias obstetras
				Prof. Ms. Conceição Peres
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 14h00 – 18h00
			</td>
			<td>
				Tratamentos de feridas
				Prof. Ms. Sara Nilkece
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS 19h00 – 23h00
			</td>
			<td>
				Aula de Literatura no Ensino Médio: desfios e encantamentos na era digital
				Prof. Especialista Nazeldo Pereira Cruz
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ADMINISTRAÇÃO 14h30 – 18h00
			</td>
			<td>
				O que é bolsa e valores? É possível enriquecer investindo nela?
				Prof. Eder Johson de Area Leão Pereira
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ADMINISTRAÇÃO 14h30 – 18h00
			</td>
			<td>
				Marketing e desenvolvimento sustentável
				Prof. Alan Holanda da Silva
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: NUTRIÇÃO 14h30 – 18h00
			</td>
			<td>
				Terapia Nutricional na Gastroplastia
				Dra. Simone Oliveira Lima
				Chefe do Serviço de Nutrição – HTI
			</td>
		</tr>
		<tr>
			<td>
				GERAL 18h00 – 20h00
			</td>
			<td>
				Empreendedorismo sustentável 
			</td>
		</tr>
		<tr>
			<td>
				GERAL 18h00 – 20h00
			</td>
			<td>
				Logística Reversa
			</td>
		</tr>
		<tr>
			<td rowspan=8>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				GERAL 08h00 – 12h00
			</td>
			<td>
				Responsabilidade social
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 08h00 – 12h00
			</td>
			<td>
				Atuação de enfermagem frente ao gerenciamento da comissão de controle de infecção hospitalar – CCIH/ANVIISA
				Prof. Esp. Bruna Thayná
				Prof. Esp. Ediuene Souza
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 14h00 – 18h00
			</td>
			<td>
				Interpretação de exames laboratoriais no pré-natal
				Prof. Esp. Habniesley Carvalho
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 14h00 – 18h00
			</td>
			<td>
				Conduta de enfermagem, frente ao atendimento antirrábico humano
				Prof. Esp. Isnara Miranda
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS E PEDAGÓGIA 14h00 – 18h00
			</td>
			<td>
				Construindo ambientes de aprendizagem com materiais recicláveis: na Matemática
				Prof. Iranide Leal Gomes
				Monitores:
				Enísia Paula Ribeiro de Araújo
				Keila Clementino Sousa 
				Lanyelle Mayara Castro Moreira
				Myslene Pereira da Silva
				
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS 14h00 – 18h00
			</td>
			<td>
				Língua: instrumento de exclusão e inclusão social
				Prof. Francisca Bulhão de Queirós
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ADMINISTRAÇÃO 14h30 – 18h00
			</td>
			<td>
				A importância da inovação tecnológica para as micro e pequenas empresas
				Prof. Eder Johnson de Area Leão Pereira
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: NUTRIÇÃO 14h30 – 18h00
			</td>
			<td>
				Atualidades em Nutrição Funcional
				Dra. Érica Mendonça
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				MESA REDONDA
			</th>
		</tr>
		<tr>
			<td witdh="15%" rowspan=3>
				1ºDIA 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td witdh="15%">
				ÁREA: ENFERMAGEM 14h00 – 18h00
			</td>
			<td>
				Cine Assistência: um enfoque biopsicossocial
				Prof. Esp. Bruna Thayná
				Prof. Esp. Ediuene Souza
				Prof. Esp. Freires Filho
				Prof. Esp. Karina Queiroz
				Prof. Esp. Murylo Batista
			</td>
		</tr>
		<tr>
			<td>
				GERAL 14h00 – 16h00
			</td>
			<td>
				Grandes projetos e impactos socioambientais
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 18h00 – 20h00
			</td>
			<td>
				Limitações da Enfermagem frente à prescrição de medicamentos e solicitação de exames
				Amália Carvalho – Presidente da ABEN – PI
			</td>
		</tr>
		<tr>
			<td rowspan=9>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				ÁREA: NUTRIÇÃO 15h00
			</td>
			<td>
				Micronutrientes e obesidade
				Ana Lina de Carvalho Cunha Sales (Mestre em alimentos e nutrição)
				Amanda Batista Romero (Especialista em Nutrição Clínica)
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				OFICINAS
			</th>
		</tr>
		<tr>
			<td rowspan=9>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				ÁREA: LETRAS E PEDAGOGIA 14h00
			</td>
			<td>
				Construindo ambientes de aprendizagem com materiais recicláveis: nas Ciências

				Prof. Iranilde Leal Gomes
				Monitores:
				Karynny Carneiro da Silva
				Luciana Pereira da Silva
				Marta Rosane Silva Martins
				Paula Lisbôa Rocha
				
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: LETRAS E PEDAGOGIA 14h00
			</td>
			<td>
				Construindo ambientes de aprendizagem com materiais recicláveis: nas Ciências

				Prof. Iranilde Leal Gomes
				Monitores:
				Camila da  Silva Miranda
				Kellyjanne Mendes Pereira
				Luyslla Vieira Souza
				Naglla Cristina Vieira Silva
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				MESA REDONDA
			</th>
		</tr>
		<tr>
			<td witdh="15%" rowspan=3>
				1ºDIA 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td witdh="15%">
				ÁREA: ENFERMAGEM 14h00 – 18h00
			</td>
			<td>
				Cine Assistência: um enfoque biopsicossocial
				Prof. Esp. Bruna Thayná
				Prof. Esp. Ediuene Souza
				Prof. Esp. Freires Filho
				Prof. Esp. Karina Queiroz
				Prof. Esp. Murylo Batista
			</td>
		</tr>
		<tr>
			<td>
				GERAL 14h00 – 16h00
			</td>
			<td>
				Grandes projetos e impactos socioambientais
			</td>
		</tr>
		<tr>
			<td>
				ÁREA: ENFERMAGEM 18h00 – 20h00
			</td>
			<td>
				Limitações da Enfermagem frente à prescrição de medicamentos e solicitação de exames
				Amália Carvalho – Presidente da ABEN – PI
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				ÁREA: NUTRIÇÃO 15h00
			</td>
			<td>
				Micronutrientes e obesidade
				Ana Lina de Carvalho Cunha Sales (Mestre em alimentos e nutrição)
				Amanda Batista Romero (Especialista em Nutrição Clínica)
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				II JORNADA CIENTÍFICO CULTURAL DE EDUCAÇÃO FÍSICA
			</th>
		</tr>
		<tr>
			<td rowspan=2>
				1º DIA – 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td>
				MINICURSO 08h00 – 12h00
			</td>
			<td>
				Uma proposta recreativa para o idoso

				Prof. Esp. Guiomar de Jesus Rodrigues
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 21h00
			</td>
			<td>
				Mercado de trabalho em Educação Física

				Prof. Msc. Patrícia Fernanda Marques de Sousa
				
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Prescrição de exercícios e síndrome metabólicas: hipertensão, diabetes e obesidade

				Prof. Dr. Leonardo Torres Leal
			</td>
		</tr>
		<tr>
			<td>
				MESA REDONDA 20h00 – 22h00
			</td>
			<td>
				Obesidade infantil: proposta de intervenção

				Prof. Msc. Jane Carvalho
				Prof. Msc. Patrícia Fernandes Marques de Sousa
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 08h00 – 12h00
			</td>
			<td>
				Atualidades em musculação e hipertensão muscular

				Prof. Msc. Marcela Nolêto
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Ginástica laboral: saúde e qualidade de vida no trabalho 

				Prof. Esp. Aristófanes Lino P. de Sousa
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				II ECOM (Encontro de Computação do Médio Mearim)
			</th>
		</tr>
		<tr>
			<td rowspan=3>
				1º DIA – 21 DE NOVEMBRO DE 2012 (QUARTA-FEIRA)
			</td>
			<td>
				MINICURSO 8h00 – 12h00
			</td>
			<td>
				Introdução a Programação com Python
				Prof. M.Sc. Gesiel Rios Lopes
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Desenvolvimento de Jogos Digitais
				Diogo Vinícius
				Gerente de Tecnologia - Infoway Tecnologia e Gestão em Saúde Ltda.
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 20h30 - 21h30
			</td>
			<td>
				Desafios no Desenvolvimento de Jogos Digitais
				Diogo Vinícius
				Gerente de Tecnologia - Infoway Tecnologia e Gestão em Saúde Ltda.
			</td>
		</tr>
		<tr>
			<td rowspan=3>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				MINICURSO 13h00 – 18h00
			</td>
			<td>
				Segurança com Python

				Prof. M.Sc. Victor Pasknel de Alencar Ribeiro
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 19h00 - 20h00
			</td>
			<td>
				Pentest e Estudos de Casos

				Prof. M.Sc Victor Pasknel de Alencar Ribeiro
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 20h30 - 21h30
			</td>
			<td>
				Inclusão digital com o Ubuntu

				Prof. Especialista Gedson Rios Lopes
			</td>
		</tr>
		<tr>
			<td rowspan=3>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				FESTIVAL 09h00 - 11h00
			</td>
			<td>
				Ubuntu Install Day

				Organização: Regional Maranhão do Conselho Ubuntu Brasil
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 13h00 – 15h00
			</td>
			<td>
				Segurança com Python

				Prof. M.Sc. Victor Pasknel de Alencar Ribeiro
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 13h00 – 15h00
			</td>
			<td>
				Administração de Proxy/Cache com Squid

				Prof. Especialista Gedson Rios Lopes
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				I ECC (I ENCONTRO DE CIÊNCIAS CONTÁBEIS DA FAESF)
			</th>
		</tr>
		<tr>
			<td>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				CONFERÊNCIA 19h00
			</td>
			<td>
				Profissional do Futuro, onde investir na carreira

				Prof. M.Sc. Antonio Gomes das Neves
				Ex – Presidente do CRC/PI e Autor dos livros: Curso de Perícia Contábil e o Cálculo em Prática Trabalhista
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 15h00 – 17h00
			</td>
			<td>
				Calculadora HP12CC

				Prof. Esp. Valber Santana
			</td>
		</tr>
		<tr>
			<td>
				PALESTRA 18h00
			</td>
			<td>
				Aprenda a, investir e ganhe muito dinheiro
				
				Prof. M.Sc. Ricardo Gomes Queiroz
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-striped">
		<tr>
			<th colspan=3>
				I WORKSHOP DE GEOGRAFIA DA FAESF
			</th>
		</tr>
		<tr>
			<td rowspan=3>
				2º DIA - 22 DE NOVEMBRO DE 2012 (QUINTA- FEIRA)
			</td>
			<td>
				MINICURSO 15h00 – 18h00
			</td>
			<td>
				Desenvolvimento e Sustentabilidade em Bacias Hidrográficas: desafios e perspectivas

				Profª. Msc. Livânia Norberta de Oliveira
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 14h00 – 18h00
			</td>
			<td>
				Gestão Ambiental em Áreas Urbanas: elementos para o desenvolvimento regional sustentável

				Profª. Mestranda. Ligiéria Alves dos Santos
				Especialista em Gestão Ambiental e Desenvolvimento Regional
			</td>
		</tr>
		<tr>
			<td>
				MESA REDONDA 19h00
			</td>
			<td>
				Desafios e Perspectivas Sustentável da Educação Ambiental Diante do Terceiro Milênio.
			</td>
		</tr>
		<tr>
			<td rowspan=2>
				3º DIA - 23 DE NOVEMBRO DE 2012 (SEXTA- FEIRA)
			</td>
			<td>
				MINICURSO 14:00 – 18:00
			</td>
			<td>
				Educação Ambiental e Sustentabilidade: novos paradigmas profissionais para o século XXI

				Profª. Especialista. Katiúscya Albuquerque de Moura Marques
			</td>
		</tr>
		<tr>
			<td>
				MINICURSO 15h00 – 18h00
			</td>
			<td>
				➢Desenvolvimento e Sustentabilidade em Bacias Hidrográficas: desafios e perspectivas

				Profª. Msc. Livânia Norberta de Oliveira
			</td>
		</tr>
	</table>
</div>










