<div id="program">
	<h3>DIA DA MOBILIDADE SUSTENTÁVEL DA FAESF</h3>
	<p>O Curso de Geografia da Faculdade de Educação São Francisco – FAESF convida aos congressistas, a comunidade acadêmica da FAESF, bem como a população de Pedreiras e Trizidela do Vale para participar conosco da dia Mobilidade Sustentável, na abertura do VIII Congresso da FAESF.</p>
	<h4>O que é mesmo essa Mobilidade Sustentável?</h4>
	<p>o “DIA DA MOBILIDADE SUSTENTAVEL” ambiciona construir, juntamente com a sociedade, um conceito inovador de mobilidade que vise à não degradação  socioambiental. Portanto,  almeja sensibilizar a cada cidadão a utilizar meios alternativos de Transporte com a finalidade de melhorar a qualidade de vida e ambiental na cidade.</p>
	<h4>Qual o objetivo?</h4>
	<p>mostrar  a necessidade de se desenvolver novos padrões de comportamento, que tenha estreita ligação com o conceito de desenvolvimento sustentável. Estimulando a população a refletir sobre a dependência dos veículos automotores (como carros e motos) e mostrando alternativas de saúde e lazer.</p>
	<h4>Como vai funcionar?</h4>
	<p>Concentração dia 21 de novembro de 2012 às 16 horas na Praça dos Jardim.</p>
	<h4>Como eu posso ir?</h4>
	<p>a pé, de bicicleta, de skate ou de patins, usando uma roupa leve e clara (se possível de blusa verde). o importante é participar.</p>
	
	
	
</div>