<div id="witc">
	<h3>Mostra de Trabalhos Científicos</h3>

	<div class="well">
		
		<h4>Datas Importantes</h4>
		
		<ul>
			<li>
				<strong>Até 14 de novembro de 2012</strong> - Envio do resumo conforme as normas estabelecidas. 
			</li>
			<li>
				<strong>17 de novembro de 2012</strong> - Resultados dos resumos aprovados para apresentação em pôster e das propostas de mesa redonda e minicurso. 
			</li>
		</ul>
	</div>

	
	<h4>Como Enviar os Resumos</h4>
	
	<p>
		A submissão dos resumos será exclusivamente eletrônica. Para tal, autores devem <%= link_to "clicar aqui", new_paper_submission_path, :class => "btn-link" %>. Os resumos devem ser encaminhados em formato PDF, no prazo estabelecido. Após o envio, o email emissor receberá mensagem de confirmação do recebimento do arquivo.
	</p>
	
	
	<h4>Normas para apresentação dos resumos</h4>
	
	<p>
		Serão aceitos trabalhos de pesquisa em andamento ou já concluídos, dentro das áreas de avaliação. Cada autor poderá submeter para análise somente até 02 (dois) trabalhos, exceto quando um dos autores for orientador(a). São de inteira responsabilidade dos autores as questões referentes a plágio e correção gramatical do texto enviado.
	</p>
	<p>
		Os resumos devem ter a seguinte normalização:
	</p>
	<p>
		Fonte do tipo Arial, tamanho 12 (para título e subtítulo e texto do resumo) e tamanho 10 (para nomes dos autores e orientadores e para nota de rodapé); o espaço entre palavras e caracteres é simples, e entre linhas é de 1,5 cm. As margens da folha devem ser de 3 cm (superior e esquerda) e 2cm (inferior e direita). O arquivo do resumo deve ter formato PDF e conter no mínimo 250 e no máximo 350 palavras no texto.
	</p>
	<p>
		Título (centralizado, caixa alta e destacado em negrito) e subtítulo (precedido de dois pontos, sem destaque, exceto quando houver alguma palavra estrangeira que, nesse caso, deve ser destacada em itálico).
	</p>
	<p>
		Os autores devem vir abaixo do título com os nomes completos no formato de referência (Ex.: BARROS, Adriano Silva), separados por ponto e vírgula, com a fonte no tamanho 10 e alinhado à margem direita. O nome do relator deve vir primeiro e estar sublinhado. Serão aceitos no máximo 05 (cinco) autores por trabalho, incluindo orientador (a), que deve ter acrescido após seu nome a referida indicação. Na nota de rodapé devem conter as titulações acadêmicas (de forma sintética) dos autores e endereço eletrônico para contato.
	</p>
	<p>
		O texto do resumo deve configurar-se em parágrafo único, contendo: introdução, objetivos, metodologia, resultados e considerações finais (quando a pesquisa estiver em andamento, descrever os resultados e considerações preliminares). Abaixo do texto, descrever as palavras-chave ou descritores com mínimo de 3 e máximo de 5 palavras.
	</p>
	<p>
		O julgamento dos trabalhos será feito com base nos resumos enviados, sendo o prazo para o envio até 10 de Novembro de 2012. Após o término da submissão, a Comissão Científica julgará os trabalhos e emitirá parecer sobre o aceite, sendo a decisão da mesma incontestável.
	</p>
	<p>
		Todos os resumos aceitos estarão automaticamente concorrendo à premiação.
	</p>
	<p>
		<h4>Normas para apresentação do pôster</h4>
	</p>
	<p>
		O pôster deve ter as seguintes dimensões: Largura (mínima 50cm e máxima 90cm) Altura(mínima 80cm e máxima 120cm). Deve constar: área do conhecimento, título idêntico ao do resumo aceito, nomes e instituições dos autores, introdução, métodos, resultados e discussão, conclusões; informar a instituição de fomento, se houver; e identificar "pesquisa concluída" ou "pesquisa em andamento", se for o caso.
	</p>
	<p>
		Utilizar o mínimo de texto e o máximo de figuras, fotos, tabelas e recursos gráficos possíveis. Organizar as informações de modo que as ideias centrais do trabalho sejam facilmente compreendidas. O texto do pôster deverá ser legível a uma distância de pelo menos 2 metros.
	</p>
	<p>
		Não apresentar com retroprojetor, computador, microfone e/ou outros equipamentos elétricos. É proibida a utilização de aparelhos e instrumentos sonoros que interfiram na comunicação dos autores com o público.
	</p>
	
</div>


